<html>
    <head>
        <h1>Write anything to translate</h1>
            <title>Translator</title>
        <body>
            <form action="translate" method="post">
                <input type="text" name="write" placeholder="text" style="height:200px; width:300px" required="required" />
                <input type="text" name="from_language" placeholder="from_language" required="required" />
                <input type="text" name="to_language" placeholder="to_language" required="required" />
                
                <button type="submit" >translate</button>
            </form>
            {{translation_text}}
            {{numchar}}
        </body>
        
        

    </head>
    <body>

    </body>





</html>